.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.loader {
  font-size: 24px;
  color: black;
  text-align: center;
}

#toggle-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 2px solid transparent;
}

#toggle-btn:hover {
  border: 2px solid #fff;
}

/* x-Small devices  */
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0;
  }

  #toggle-btn {
    display: block;
    align-self: flex-start;
  }

  #toggle-btn:after {
    content: "\2807";
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
